ul li{
    list-style:none;
}

header {
    text-align: center;
    color: red;
}

.vignette{
    background-color: grey;
    margin-top: 1%;
    margin-bottom: 1%;
    width : 100%;
    min-height: 100px;
}

#gauche {
    max-width : 50%;
    min-height: 100%;
    float:left;
    padding: 1%;
}

#droite {
    display: block;
    max-width : 40%;
    min-height: 100%;
    float:left;
    padding: 1%;
}

#progressTime {
    display:inline-block;
}

#progressBar {
    background-color: red;
    text-align: center;
}

#progressBarControl{
    display:inline-block;
    min-width : 30%;
    background-color: grey;
}

.IMGvignette{
    max-width: 30%;
}
